[submodule "lib/libphonenumber"]
	path = lib/libphonenumber
	url = https://github.com/googlei18n/libphonenumber.git
[submodule "lib/closure"]
	path = lib/closure
	url = https://github.com/google/closure-library.git
